COINMARKETCAP_API_KEY=XXXX
TELEGRAM_BOT_TOKEN=XXXXX
REDIS_HOST=XXXX
REDIS_PORT=XXX
REDIS_ONETIME_DB=XXXXX
LIGHTNING_ADDRESS=XXX
ENVIRONMENT=local
SQL_USER=XXXXXX
SQL_PASSWORD=XXXXXX

SQL_HOST=XXXXX
SQL_PORT=XXXXXX
SQL_DB=XXXXX
SQL_SVIX_USER=XXXXX
SQL_SVIX_PASSWORD=XXXXX
SQL_SVIX_DB=XXXX
SVIX_JWT_SECRET=XXXXXX
SVIX_SERVER_URL=XXXXXX

ADMIN_TELEGRAM_ID=XXXXXX

RESEND_API_KEY=XXXXXXXXXXXX